.avatar {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  img {
    position: absolute;
    left: 0;
    height: 200px;
    width: 200px;
    animation-name: avatar-move;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
  img.avatar-happy {
    opacity: 1;
    animation-direction: reverse;
  }
}

.avatar-say {
  margin-top: 100px;
}