.my-level-progress-style {
  display: flex;
  flex-direction: column;
  height: 50vh;
  p {
    background-color: blue;
    a {
      color: aliceblue;
      padding: 10px;
      text-decoration: none;
    }
    &:hover {
      background-color: aliceblue;
      a{
        color: blue;
      }
    }
  }
}