.my-level-progress-style {
  p {
    height: 50vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    a {
      color: aliceblue;
      text-decoration: none;
      background-color: blue;
      margin-bottom: 5vh;
      &:hover {
        background-color: aliceblue;
        color: blue;
      }
    }
  }
}

.my-level-style {
  .row {
    height: 20vh;
  }
}
