.my-btn-success {
  border-radius: 1.5rem !important;
  font-size: 30px !important;
  margin-top: 50px;
}

.title {
  height: 30vh;
  text-align: center;
  padding-top: 15vh;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  .title {
    padding-top: 5vh;
  }
  .my-btn-success {
    border-radius: 1.5rem !important;
    font-size: 20px !important;
    margin-top: 0;

  }
}